**1) A partir da base de dados notas.xlsx, criar um subconjunto de dados (novo dataSet) com os Alunos, Disciplinas e Médias apenas para a disciplina de Biologia, grave o resultado em um arquivo CSV chamado Biologia.csv**

In [28]:
import pandas as pd 

tabela_prova = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Notas.xlsx')
colunas_selecionadas = ['Aluno', 'Disciplina', 'Média']
dados_selecionados = tabela_prova.filter(items=colunas_selecionadas)

dados_selecionados.Disciplina
tabela_nova = dados_selecionados[(dados_selecionados.Disciplina == 'Biologia')]
tabela_nova.to_csv("/content/drive/MyDrive/Colab Notebooks/Biologia.csv")
tabela_nova.head()

           Aluno Disciplina  Média
1    Sandra Puga   Biologia    6.5
7   Mickey Mouse   Biologia    7.7
13  Pato Donalds   Biologia    8.6
19   Minie Mouse   Biologia    9.3
25      Pinóquio   Biologia    4.1

**2) A partir da base de dados notas.xls, criar um subconjunto de dados (novo dataSet) com os Alunos que tiveram exame em alguma disciplina. O subconjunto deve conter o Aluno, Disciplina, Exame e Média Final.**

In [34]:
import pandas as pd 

tabela = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Notas.xlsx')
colunas = ['Aluno', 'Disciplina', 'Exame' , 'Média', 'Média Final']
dados = tabela.filter(items=colunas)

tabela.Média 
reprovados = dados[(dados.Média <= 7)]

reprovados.head(50)

             Aluno   Disciplina  Exame  Média  Média Final
1      Sandra Puga     Biologia    7.0    6.5         6.75
4      Sandra Puga   Literatura    NaN    7.0         7.00
5      Sandra Puga  Informática    9.0    6.7         7.85
6     Mickey Mouse   Matemática    8.0    6.0         7.00
8     Mickey Mouse      Química    5.0    6.3         5.65
15    Pato Donalds    Gramática    9.0    6.7         7.85
17    Pato Donalds  Informática    3.0    5.2         4.10
24        Pinóquio   Matemática    9.0    3.3         6.15
25        Pinóquio     Biologia   10.0    4.1         7.05
26        Pinóquio      Química   10.0    4.1         7.05
27        Pinóquio    Gramática    5.0    3.9         4.45
28        Pinóquio   Literatura   10.0    5.0         7.50
29        Pinóquio  Informática    8.0    6.7         7.35
32  Grilo Falante       Química    NaN    7.0         7.00
33  Grilo Falante     Gramática    5.0    6.0         5.50